# Zig compiler binary
zig.exe

# Compiled outputs
*.exe
*.o
*.ll
*.a
*.dll

# Python cache
__pycache__/

# Third party source dumps
lua-5.5.0_Win64_dllw6_lib/
sqlite-amalgamation-3510300/
zig-lib/
wren/